@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
}
body{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
/* section-1 top wala */

li{
    list-style: none;
    margin-left: 10px;
}
.icon-style{
color: #0E7490;
font-size: 20px;
}
.font-style{ /* contact icons ka style*/
    font-size: 14px;
    color: #7a7a7a;
}
.icon-top ul{
    display: flex;
    line-height: 30px;
    
}
.border-list{    /* top me list ke side chota sa border*/
 border-right: 1px solid #e0e0e0;
 padding-right: 10px;
}
.top-icons{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    border-bottom: 1px solid #e0e0e0;
}
.contact-list-style{
    background-color: #CDCDCD;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin-left: 20px;
    transition: all ease-out 0.3s;
}
.contact-list-style:hover{
    background-color: #0E7490;
}
.contact-icons i{
    color: white;
}
.contact-icons ul{
    display: flex;
}
/*  navbar-section */
.section1-navbar{
    background: white;
    position: sticky;
    width: 100%;
    top: 0;                                                            
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    z-index: 1;
}
.nav{
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-option{
    width: 95%;
    display: flex;
    justify-content: end;
}

.nav-option ul{
    display: flex;
    justify-content: space-evenly;
}
.nav-option ul li{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
}
.logo{
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
.anchor-text-style{
    text-transform: capitalize;
    line-height: 40px;
    transition: all ease-out 0.2s;
}
.anchor-text-style:hover{
    color: #0E7490;}
.gift-anchor{
    color: white;
    background-color: black;
    padding: 10px;
    padding-left: 0;
    padding-right: 15px;
    border-radius: 20px;
}
.gift-anchor i{
    background-color: #0E7490;
    color: white;
    padding: 11px;
    margin-right: 5px;
    border-radius: 50%;
}

.a-color{
    color: #0E7490;
}
/* moble only */
.mobile-menu{
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}
/* slider section */
.slider-sec{
 background-image: url("https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/banner-01.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 margin-left: 10px;
 margin-right: 10px;

}
.slide-1{
    padding: 220px 20% 320px 20%;
}
.category{
    background-color: white;
    padding: 10px;
    color: black;
}
.category em{
    font-style: normal;
    color: #0E7490;
}
.slider-content h2{
    width: 50%;
    font-size: 62px;
    color: white;
    line-height: 72px;
    margin-bottom: 0;
    text-transform: uppercase;
    margin-top: 30px;
}
/* feature section */
.featured-section{
    margin:120px;
    display: flex;
    justify-content: center;
}
.contain-feature{
    /* margin-left: 50px;
    margin-right: 50px; */
    display: flex;
    width: 100%;
}
.contain-one{
    padding: 0 12px 0 12px;
    width: 430px;
}
.feature1{
    display: flex;
    /* justify-content: end; */
    padding-left: 50px;
    position: relative;
    width: 35%;
    /* overflow: hidden; */
}
/* .feature1 img{
    width: 100%;
} */
.feature1 a{
    background-color: #0E7490;
    position: absolute;
    border-radius: 50%;
    padding: 20px;
    left: 0;
    bottom: -55px;

}
.feature1 a img{
    width: 60px;
}
/* center wala column */
.fea-head{
    margin: 10px;
    margin-bottom: 60px;
    margin-left: 0;
}
.h6-style{
    color: #5AB1D0;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}

.fea-head h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 70px;
    margin-top: 20px;
    text-transform: capitalize;
}
.fea-bottom{
    margin: 10px;
}
.fea-btn {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    background: #fafafa;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding: 16px 20px;
    transition: all step-end 0.3s;
    margin-left: 20px;
    
}
.fea-btn:focus-within{
    color: #0E7490;
}
.btn{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.feature2{
    width: 40%;
    padding-left: 40px;
}
.fea-body{
    display: none;
    font-size: 25px;
    line-height: 35px;
    font-weight: 400;
    padding: 20px;
    color: #212529;
}
.fea-body a{
    color: rgb(13, 110, 253);
}
.feature3{
    padding: 35px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    margin-left: 50px;
    width: 25%;
}
.feature3 ul li{
    display: flex;
    font-size: 22px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.brdr-li{
    border-bottom: 1px solid #eee;
}
.feature3 ul li img{
    margin-right: 25px;
}
.fea3-icons{
    width: 52px ;
}
.feature3 ul li h4{
    color: #1e1e1e;
    font-weight: 600;
}
.feature3 ul li h4 span{
    color: #aaaaaa;
    font-size: 15px;
    font-weight: 400;
}
/* video section */

.video-section{
    background-image: url("https://templatemo.com/templates/templatemo_591_villa_agency/assets/images/video-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px 0px 316px 0px;
    position: relative;
}
.video-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.content-video-text h6{
    text-align: center;
    margin-top: 90px;
}
.content-video-text h2{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.video-frame {
   text-align: center; 
    position:absolute;
    /* margin-left: 50px; */
    /* margin-right: auto; */
    left: 215px;
    right: 215px;
    top: 310px;
    
}
.video-frame img{
    border-radius: 10px;
    position: relative;
}   
.video-frame a{
   position: absolute;
    left: 50%;
    top: 50%;
}
.video-frame a i{
    background-color: white;
    font-size: 18px;
    color: #0E7490;
    padding: 20px;
    border-radius: 50%;
    outline: 15px solid  rgba(14, 116, 144, 0.5);
}
/* experience section */

.experience-section{
    margin-top: 400px;
    margin-bottom: 150px;
}
.all-experience{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
}
.exper{
    width: 33%;
    display: flex;
    justify-content: center;
}
.exper1{
    background-color: #c9d0d2db;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    width: 200px;   
}
.exper1 h2{
    font-size: 40px;
    color: #0E7490;
}
.exper1 p{
    line-height: 30px;
    font-weight: 600;
    position: relative;
}
.exper1 p::after{
    content: '';
    position: absolute;
    background-color: #0E7490;
    border-radius: 50%;
    padding: 25px;
    top: -40px;
    right: -50px;
}
/* best deal section */
.best-deal{
    background-color: #fafafa;
    padding-bottom: 70px;
}
.row1{
    display: flex;
    width: 100%;
    padding-top: 100px;
}
.row1-heads{
    width: 50%;
}
.row1-head{
    width: 60%;
}
.row1-head h6{
    color: #5AB1D0;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}
.h2-style{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 56px;
}
.row1-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 50%;
}
.row1-buttons button{
    border: none;
    padding: 20px 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: all ease-out 0.3s;
}
.blue-button button{
    background-color: #0E7490;
    color: white;
    border-radius: 5px; 
}
.row1-buttons button:hover{
    font-size: 17px;
}
.all-deal-contain {
    margin-left: 100px;
    margin-right: 100px;
}
.row2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 20px;
    /* justify-content: space-evenly; */
    margin-top: 50px;
}
.table-contain{
    width: 30%;
}
.info-table{
    width: 70%;
    padding: 30px;
    padding-bottom: 0;
    box-shadow: rgba(0 0 0 / 0.25) 0px 0px 15px;
    border-radius: 10px;

}
.info-table ul li{
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #eee;
    text-align: left;
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}
.info-table ul li span{
    font-size: 20px;
    color: #1e1e1e;
    font-weight: 700;
    float: right;
}
.deal-image{
    width: 40%;
    padding: 0 45px;
}
.parahraph-contain{
    width: 23%;
}
.para{
    padding: 20px;
    padding-top: 0;
}
.para h4{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}
.para p{
    font-size: 14px;
    line-height: 28px;
    color: #4a4a4a;
}
.icon{
    margin-top: 20px;
}
.icon a{
    padding: 13px;
    padding-right: 25px;
    font-size: 18px;
    border-radius: 25px;
}
.icon a i{
    margin-left: -13px;
    padding: 15px;
    margin-right: 9px;
}
/* property-section */
.property-section{
    margin-top: 120px;
}
.property-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.property-head{
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-contain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 33%;
    background-color: #fafafa;
    border-radius: 10px;
}
/* .feature2 h6{
    color: #ee626b;
    font-size: 24px;
    font-weight: 700;
}
.feature2 h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 20px;
    text-transform: capitalize;
}
.feature2-bottom-sec{
    margin-top: 50px;
}
.feature2-btn{
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    border-top: none;
    border-left: none;
    border-right: none;
    background: #fafafa;
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    padding: 16px 20px;
    transition: all step-end 0.3s;

}
.btn{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.btn-style2{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}
.feature2-btn:focus-within{
    color: #f35525;
}

.feature2-body{
    padding: 16px 20px;
    font-size: 16px;
    line-height: 30px;
    display: none;

}
.feature2-body a{
    color: rgb(13, 110, 253);
} */
